/* Kenzi Decker 12/1/2021 */

body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.common {
    background-color:whitesmoke;
    border: solid 2px darkgrey;
    position: absolute
}

.header {
  top: 0px;
  left: 5px;
  right: 5px;
  height: 40px;
  z-index: 2;
  border-bottom: solid 1px darkgrey;
  background-attachment: scroll;
  float: right;
  position: fixed;
  background-color: whitesmoke;
  padding-top: 10px;
}

.left {
  top: 114px;
  left: 5px;
  bottom: 64px;
  width: 100px;
  z-index: 1;
  padding: 3px;
  position: absolute;
  border-right: 1px ;
  text-align: center;
  
}

.right {
top: 99px;
right: 5px;
bottom: 64px;
width: 100px;
position: absolute;
border-left: 1px ;
padding-right: 4px;
padding-left: 3px;
text-align: center;
word-wrap: break-word;
}

.body {
  top: 100px;
  bottom: 64;
  left: 200px;
  right: 200px;
  position: absolute;


}

.footer {

  bottom: 0px;
  height: 40px;
  left: 5px;
  right: 5px;
  font-size: 10;
  color: rgb(51, 50, 50);
  text-align: center;
  position: fixed;
  padding-top: 5px;
  border-top: solid 1px darkgrey;
  background-color: whitesmoke;
}

a {
  color: rgb(12, 73, 102);
  text-decoration: none;
}

.subheader {
  float: right;
  position: fixed;
  }


p {
  padding: 10px;
}

img {
  float: right;
  padding-top: 240px;
  padding-right: 170px;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.size 
{
    size: 200px;
}

.background
{
    color: white;
    background:transparent;
}